<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${welcome}">这里会显示动态数据</p>
    <div th:text="${welcome}">这里会显示动态数据</div>
    <span th:text="${welcome}">这里会显示动态数据</span>
    <hr>
    <div th:text="${student}">这里会显示动态数据</div>
    <div th:text="${student.name}">这里会显示动态数据</div>
    <div th:text="${student.age}">这里会显示动态数据</div>
    <hr>
    <div th:object="${student}">
        <p>姓名：<span th:text="*{name}"></span></p>
        <p>年龄：<span th:text="*{age}"></span></p>
    </div>
    <hr>
    <p>姓名： <span th:text="*{student.name}"></span></p>
    <p>年龄： <span th:text="*{student.age}"></span></p>000000000000000000000
</body>
</html>